.asidebar {
    width: 250px;
    position: fixed;
    height: 100vh;
    background-color: black;
    transition: all 1s;

    ul {
        padding: 50px;

        li {
            margin: 30px;

            a {
                color: #fff;
                font-size: 24px;
                transition: all .5s;

                &:hover {
                    color: hotpink;
                }
            }
        }
    }

    .icon-area {
        position: relative;

        i {
            position: absolute;
            right: 20px;
            top: 20px;
            color: white;
            font-size: 22px;
        }
    }
}
.btn{
    padding: 12px;
    background-color: hotpink;
    border: none;
    color: white;
    border-radius: 15px;
    margin: 10px;
    font-size: 22px;
    &:hover{
       cursor: pointer;
       background-color: greenyellow; 
    }
}
.none{
    transform: translate(-250px,0px);
}